@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.partnership .body__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

main {
  max-width: 1920px;
  margin: auto;
  color: #1D1D1D;
  font-family: Roboto;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: auto;
}

.red_btn {
  width: 100%;
  padding: 14px 30px;
  background: #F21A27;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0px 10px 16px rgba(226, 0, 15, 0.2);
  border: 1px solid #F21A27;
  transition: all 0.2s linear;
}
.red_btn:hover {
  background: #fff;
  color: #F21A27;
}

main {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: auto;
}

.landing {
  color: #1D1D1D;
  line-height: 1.5;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 80px;
  padding-top: 30px;
}
.landing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.landing__item:first-child {
  margin-bottom: 50px;
}
.landing__item:last-child {
  margin-bottom: 0;
}
.landing__item:nth-child(even) .item__img {
  order: 2;
  margin: 0 0 0 32px;
}
.landing__item:nth-child(even) .item__body {
  order: 1;
}
.landing .item__img {
  flex: 0 1 50%;
  aspect-ratio: 784/550;
  margin: 0 32px 0 0;
}
.landing .item__img img, .landing .item__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .item__body {
  flex: 0 1 50%;
}
.landing .body__title {
  line-height: 1;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.landing .body__text {
  font-weight: bold;
  margin-bottom: 20px;
}
.landing .body__text:last-child {
  margin-bottom: 0;
}
.landing .body__subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.landing .body__subtitle:last-child {
  margin-bottom: 0;
}
.landing .body__subtitle_first {
  margin-bottom: 30px;
}
.landing .body__subtitle_mini {
  max-width: 648px;
}
.landing .body__list {
  max-width: 648px;
}
.landing .body__list_margin {
  margin-bottom: 30px;
}
.landing .list__text {
  margin-bottom: 20px;
}
.landing .list__item {
  position: relative;
  text-indent: 8px;
}
.landing .list__item::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 0;
  background: #1D1D1D;
  border-radius: 50%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing {
    font-size: 16px;
  }
  .landing .body__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .landing .body__text {
    margin-bottom: 12px;
  }
  .landing .body__subtitle {
    margin-bottom: 10px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 20px;
  }
  .landing .container {
    padding: 30px;
  }
  .landing .list__item::before {
    top: 10px;
  }
  .landing .list__text {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing {
    font-size: 14px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0 0 0 22px;
  }
  .landing .body__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .landing .body__text {
    margin-bottom: 7px;
  }
  .landing .body__subtitle {
    margin-bottom: 5px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 15px;
  }
  .landing .container {
    padding: 20px;
  }
  .landing .item__img {
    margin: 0 22px 0 0;
  }
  .landing .list__item::before {
    top: 9px;
  }
  .landing .list__text {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .landing {
    font-size: 12px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0 0 0 17px;
  }
  .landing .body__title {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .landing .body__text {
    margin-bottom: 4px;
  }
  .landing .body__subtitle {
    margin-bottom: 2px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 12px;
  }
  .landing .container {
    padding: 15px;
  }
  .landing .item__img {
    margin: 0 17px 0 0;
  }
  .landing .list__item::before {
    top: 7px;
  }
  .landing .list__text {
    margin-bottom: 2px;
  }
}
@media (max-width: 480px) {
  .landing {
    font-size: 10px;
  }
  .landing__item:nth-child(even) .landing__img {
    margin: 0 0 0 10px;
  }
  .landing .body__title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .landing .body__text {
    margin-bottom: 2px;
  }
  .landing .body__subtitle {
    margin-bottom: 0px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 5px;
  }
  .landing .container {
    padding: 10px;
  }
  .landing .item__img {
    margin: 0 10px 0 0;
  }
  .landing .list__item::before {
    top: 6px;
  }
  .landing .list__text {
    margin-bottom: 0px;
  }
}
@media (max-width: 375px) {
  .landing {
    line-height: 1.5;
    font-size: 16px;
    padding-top: 16px;
    margin-bottom: 50px;
  }
  .landing__item {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .landing__item:first-child {
    margin-bottom: 40px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0;
  }
  .landing__item:nth-child(odd) .item__img {
    margin: 0 0 20px 0;
  }
  .landing .container {
    padding: 0 16px;
  }
  .landing .body__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .landing .body__text {
    margin-bottom: 12px;
  }
  .landing .body__text:last-child {
    margin-bottom: 0;
  }
  .landing .body__subtitle {
    margin-bottom: 16px;
  }
  .landing .body__list {
    margin-bottom: 20px;
  }
  .landing .body__list_mobile-last {
    margin-bottom: 0;
  }
  .landing .list__text {
    margin-bottom: 30px;
  }
  .landing .list__item::before {
    top: 10px;
  }
}

.partnership {
  font-family: Roboto;
  background: #EEEEEE;
  padding: 123px 0 77px 0;
  color: #1D1D1D;
}
.partnership__body {
  text-align: center;
}
.partnership .body__title {
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
  max-width: 920px;
  margin: 0 auto 20px;
}
.partnership .body__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.partnership .body__link {
  margin: auto;
  font-size: 16px;
  color: white;
  background: #E2000F;
  width: 263px;
  height: 49px;
  transition: 0.3s;
}
.partnership .body__link:hover {
  box-shadow: 0px 10px 16px rgba(226, 0, 15, 0.2);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .partnership {
    padding: 103px 0 57px 0;
  }
  .partnership .body__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .partnership .body__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .partnership .body__link {
    font-size: 14px;
    width: 243px;
    height: 44px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .partnership {
    padding: 83px 0 37px 0;
  }
  .partnership .body__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .partnership .body__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .partnership .body__link {
    font-size: 12px;
    width: 233px;
    height: 39px;
  }
}
@media (max-width: 767px) {
  .partnership {
    padding: 63px 0 17px 0;
  }
  .partnership .body__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .partnership .body__text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .partnership .body__link {
    font-size: 10px;
    width: 183px;
    height: 29px;
  }
}
@media (max-width: 480px) {
  .partnership {
    padding: 33px 0 17px 0;
  }
  .partnership .body__title {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
@media (max-width: 375px) {
  .partnership {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .partnership .body__link {
    width: 100%;
    font-size: 14px;
    height: 47px;
  }
  .partnership .body__title {
    text-align: left;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .partnership .body__text {
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .partnership .container {
    padding: 0 16px;
  }
}

.marketing {
  padding-top: 30px;
  margin-bottom: 100px;
}
.marketing .container {
  max-width: 1156px;
}
.marketing__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.marketing__info {
  font-weight: bold;
  margin-bottom: 30px;
}
.marketing__list {
  margin-bottom: 30px;
}
.marketing__button {
  display: inline-block;
  padding: 14px 40px;
  margin-bottom: 30px;
  width: auto;
}
.marketing__number-list {
  list-style-position: inside;
}
.marketing__number-list .list__item::marker {
  font-weight: bold;
}
.marketing__marker-list .list__item {
  text-indent: 10px;
  position: relative;
}
.marketing__marker-list .list__item::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #1D1D1D;
  border-radius: 50%;
}
.marketing__link {
  display: flex;
  align-items: center;
}
.marketing .info__text {
  margin-bottom: 16px;
}
.marketing .text__regular {
  font-weight: normal;
}
.marketing .list__title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}
.marketing .list__item {
  line-height: 1.5;
}
.marketing .link__text {
  color: #1D1D1D;
  font-weight: bold;
  margin-right: 16px;
}
.marketing .link__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.marketing .link__icon img, .marketing .link__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.marketing .link__icon:last-child {
  margin-right: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .marketing {
    font-size: 15px;
  }
  .marketing .container {
    padding: 0 40px;
  }
  .marketing__title {
    font-size: 23px;
  }
  .marketing .list__title {
    font-size: 19px;
  }
  .marketing .link__icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .marketing {
    font-size: 13px;
  }
  .marketing .container {
    padding: 0 30px;
  }
  .marketing__title {
    font-size: 21px;
    margin-bottom: 18px;
  }
  .marketing__info {
    margin-bottom: 28px;
  }
  .marketing__list {
    margin-bottom: 28px;
  }
  .marketing__button {
    padding: 12px 36px;
    margin-bottom: 28px;
  }
  .marketing__marker-list .list__item::before {
    width: 3px;
    height: 3px;
    top: 8px;
  }
  .marketing .list__title {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .marketing .link__text {
    margin-right: 12px;
  }
  .marketing .link__icon {
    width: 16px;
    height: 16px;
  }
  .marketing .info__text {
    margin-bottom: 14px;
  }
}
@media (max-width: 768px) {
  .marketing {
    margin-bottom: 33px;
    font-size: 16px;
  }
  .marketing .container {
    padding: 0 16px;
  }
  .marketing__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .marketing__info {
    margin-bottom: 20px;
  }
  .marketing__list {
    margin-bottom: 20px;
  }
  .marketing__button {
    padding: 14px 30px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  .marketing__marker-list .list__item {
    text-indent: 7px;
  }
  .marketing__marker-list .list__item::before {
    width: 3px;
    height: 3px;
    top: 8px;
  }
  .marketing .list__title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  .marketing .link__text {
    margin-right: 12px;
  }
  .marketing .link__icon {
    width: 24px;
    height: 24px;
  }
  .marketing .info__text {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .marketing {
    font-size: 15px;
  }
  .marketing__title {
    font-size: 19px;
  }
  .marketing__button {
    font-size: 17px;
  }
  .marketing .list__title {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .marketing {
    font-size: 14px;
  }
  .marketing__title {
    font-size: 18px;
  }
  .marketing__button {
    font-size: 16px;
  }
  .marketing .list__title {
    font-size: 18px;
  }
}