@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.compare .product__buttons .buttons__like {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1920px;
  margin: auto;
  color: #1D1D1D;
  font-family: Roboto;
}

a {
  color: #1D1D1D;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
}

.red_btn {
  width: 100%;
  padding: 14px 30px;
  background: #F21A27;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0px 10px 16px rgba(226, 0, 15, 0.2);
  border: 1px solid #F21A27;
  transition: all 0.2s linear;
}
.red_btn:hover {
  background: #fff;
  color: #F21A27;
}

.red-button-1 {
  font-weight: bold;
  color: #FFFFFF;
  background: #E2000F;
  box-shadow: 0px 10px 16px rgba(226, 0, 15, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.red-button-1:hover {
  box-shadow: none;
}

.red-button-2 {
  font-weight: bold;
  color: #E2000F;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  border: 1px solid #E2000F;
}
.red-button-2:hover {
  color: white;
  background: #E2000F;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .h1 {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .h1 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .h1 {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .h1 {
    font-size: 18px;
  }
}

.h2 {
  font-size: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .h2 {
    font-size: 19px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .h2 {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .h2 {
    font-size: 18px;
  }
}

.p {
  font-size: 18px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .p {
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .p {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .p {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .p {
    font-size: 16px;
  }
}

.px {
  font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .px {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .px {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .px {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .px {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .px {
    font-size: 14px;
  }
}

.pxs {
  font-size: 14px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pxs {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pxs {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .pxs {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .pxs {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .pxs {
    font-size: 14px;
  }
}

main {
  max-width: 1920px;
  margin: auto;
}

.landing {
  color: #1D1D1D;
  line-height: 1.5;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 80px;
  padding-top: 30px;
}
.landing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.landing__item:first-child {
  margin-bottom: 50px;
}
.landing__item:last-child {
  margin-bottom: 0;
}
.landing__item:nth-child(even) .item__img {
  order: 2;
  margin: 0 0 0 32px;
}
.landing__item:nth-child(even) .item__body {
  order: 1;
}
.landing .item__img {
  flex: 0 1 50%;
  aspect-ratio: 784/550;
  margin: 0 32px 0 0;
}
.landing .item__img img, .landing .item__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .item__body {
  flex: 0 1 50%;
}
.landing .body__title {
  line-height: 1;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.landing .body__text {
  font-weight: bold;
  margin-bottom: 20px;
}
.landing .body__text:last-child {
  margin-bottom: 0;
}
.landing .body__subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.landing .body__subtitle:last-child {
  margin-bottom: 0;
}
.landing .body__subtitle_first {
  margin-bottom: 30px;
}
.landing .body__subtitle_mini {
  max-width: 648px;
}
.landing .body__list {
  max-width: 648px;
}
.landing .body__list_margin {
  margin-bottom: 30px;
}
.landing .list__text {
  margin-bottom: 20px;
}
.landing .list__item {
  position: relative;
  text-indent: 8px;
}
.landing .list__item::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 0;
  background: #1D1D1D;
  border-radius: 50%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing {
    font-size: 16px;
  }
  .landing .body__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .landing .body__text {
    margin-bottom: 12px;
  }
  .landing .body__subtitle {
    margin-bottom: 10px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 20px;
  }
  .landing .container {
    padding: 30px;
  }
  .landing .list__item::before {
    top: 10px;
  }
  .landing .list__text {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing {
    font-size: 14px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0 0 0 22px;
  }
  .landing .body__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .landing .body__text {
    margin-bottom: 7px;
  }
  .landing .body__subtitle {
    margin-bottom: 5px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 15px;
  }
  .landing .container {
    padding: 20px;
  }
  .landing .item__img {
    margin: 0 22px 0 0;
  }
  .landing .list__item::before {
    top: 9px;
  }
  .landing .list__text {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .landing {
    font-size: 12px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0 0 0 17px;
  }
  .landing .body__title {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .landing .body__text {
    margin-bottom: 4px;
  }
  .landing .body__subtitle {
    margin-bottom: 2px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 12px;
  }
  .landing .container {
    padding: 15px;
  }
  .landing .item__img {
    margin: 0 17px 0 0;
  }
  .landing .list__item::before {
    top: 7px;
  }
  .landing .list__text {
    margin-bottom: 2px;
  }
}
@media (max-width: 480px) {
  .landing {
    font-size: 10px;
  }
  .landing__item:nth-child(even) .landing__img {
    margin: 0 0 0 10px;
  }
  .landing .body__title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .landing .body__text {
    margin-bottom: 2px;
  }
  .landing .body__subtitle {
    margin-bottom: 0px;
  }
  .landing .body__subtitle_first, .landing .body__list_margin {
    margin-bottom: 5px;
  }
  .landing .container {
    padding: 10px;
  }
  .landing .item__img {
    margin: 0 10px 0 0;
  }
  .landing .list__item::before {
    top: 6px;
  }
  .landing .list__text {
    margin-bottom: 0px;
  }
}
@media (max-width: 375px) {
  .landing {
    line-height: 1.5;
    font-size: 16px;
    padding-top: 16px;
    margin-bottom: 50px;
  }
  .landing__item {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .landing__item:first-child {
    margin-bottom: 40px;
  }
  .landing__item:nth-child(even) .item__img {
    margin: 0;
  }
  .landing__item:nth-child(odd) .item__img {
    margin: 0 0 20px 0;
  }
  .landing .container {
    padding: 0 16px;
  }
  .landing .body__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .landing .body__text {
    margin-bottom: 12px;
  }
  .landing .body__text:last-child {
    margin-bottom: 0;
  }
  .landing .body__subtitle {
    margin-bottom: 16px;
  }
  .landing .body__list {
    margin-bottom: 20px;
  }
  .landing .body__list_mobile-last {
    margin-bottom: 0;
  }
  .landing .list__text {
    margin-bottom: 30px;
  }
  .landing .list__item::before {
    top: 10px;
  }
}

.partnership {
  font-family: Roboto;
  background: #EEEEEE;
  padding: 123px 0 77px 0;
  color: #1D1D1D;
}
.partnership__body {
  text-align: center;
}
.partnership .body__title {
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
  max-width: 920px;
  margin: 0 auto 20px;
}
.partnership .body__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.partnership .body__link {
  padding: 14px 40px;
  width: auto;
  display: inline-block;
  margin: auto;
  font-size: 16px;
  transition: 0.3s;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .partnership {
    padding: 103px 0 57px 0;
  }
  .partnership .body__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .partnership .body__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .partnership .body__link {
    font-size: 14px;
    padding: 12px 38px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .partnership {
    padding: 83px 0 37px 0;
  }
  .partnership .body__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .partnership .body__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .partnership .body__link {
    font-size: 12px;
    padding: 10px 36px;
  }
}
@media (max-width: 767px) {
  .partnership {
    padding: 63px 0 17px 0;
  }
  .partnership .body__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .partnership .body__text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .partnership .body__link {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .partnership {
    padding: 33px 0 17px 0;
  }
  .partnership .body__title {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
@media (max-width: 375px) {
  .partnership {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .partnership .body__link {
    width: 100%;
    font-size: 14px;
    padding: 14px 0;
  }
  .partnership .body__title {
    text-align: left;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .partnership .body__text {
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .partnership .container {
    padding: 0 16px;
  }
}

.marketing {
  padding-top: 30px;
  margin-bottom: 100px;
}
.marketing .container {
  max-width: 1156px;
}
.marketing__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.marketing__info {
  font-weight: bold;
  margin-bottom: 30px;
}
.marketing__list {
  margin-bottom: 30px;
}
.marketing__button {
  display: inline-block;
  padding: 14px 40px;
  margin-bottom: 30px;
  width: auto;
}
.marketing__number-list {
  list-style-position: inside;
}
.marketing__number-list .list__item::marker {
  font-weight: bold;
}
.marketing__marker-list .list__item {
  text-indent: 10px;
  position: relative;
}
.marketing__marker-list .list__item::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #1D1D1D;
  border-radius: 50%;
}
.marketing__link {
  display: flex;
  align-items: center;
}
.marketing .info__text {
  margin-bottom: 16px;
}
.marketing .text__regular {
  font-weight: normal;
}
.marketing .list__title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold;
}
.marketing .list__item {
  line-height: 1.5;
}
.marketing .link__text {
  color: #1D1D1D;
  font-weight: bold;
  margin-right: 16px;
}
.marketing .link__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.marketing .link__icon img, .marketing .link__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.marketing .link__icon:last-child {
  margin-right: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .marketing {
    font-size: 15px;
  }
  .marketing .container {
    padding: 0 40px;
  }
  .marketing__title {
    font-size: 23px;
  }
  .marketing .list__title {
    font-size: 19px;
  }
  .marketing .link__icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .marketing {
    font-size: 13px;
  }
  .marketing .container {
    padding: 0 30px;
  }
  .marketing__title {
    font-size: 21px;
    margin-bottom: 18px;
  }
  .marketing__info {
    margin-bottom: 28px;
  }
  .marketing__list {
    margin-bottom: 28px;
  }
  .marketing__button {
    padding: 12px 36px;
    margin-bottom: 28px;
  }
  .marketing__marker-list .list__item::before {
    width: 3px;
    height: 3px;
    top: 8px;
  }
  .marketing .list__title {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .marketing .link__text {
    margin-right: 12px;
  }
  .marketing .link__icon {
    width: 16px;
    height: 16px;
  }
  .marketing .info__text {
    margin-bottom: 14px;
  }
}
@media (max-width: 768px) {
  .marketing {
    margin-bottom: 33px;
    font-size: 16px;
  }
  .marketing .container {
    padding: 0 16px;
  }
  .marketing__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .marketing__info {
    margin-bottom: 20px;
  }
  .marketing__list {
    margin-bottom: 20px;
  }
  .marketing__button {
    padding: 14px 30px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  .marketing__marker-list .list__item {
    text-indent: 7px;
  }
  .marketing__marker-list .list__item::before {
    width: 3px;
    height: 3px;
    top: 8px;
  }
  .marketing .list__title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  .marketing .link__text {
    margin-right: 12px;
  }
  .marketing .link__icon {
    width: 24px;
    height: 24px;
  }
  .marketing .info__text {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .marketing {
    font-size: 15px;
  }
  .marketing__title {
    font-size: 19px;
  }
  .marketing__button {
    font-size: 17px;
  }
  .marketing .list__title {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .marketing {
    font-size: 14px;
  }
  .marketing__title {
    font-size: 18px;
  }
  .marketing__button {
    font-size: 16px;
  }
  .marketing .list__title {
    font-size: 18px;
  }
}

.user {
  position: relative;
  width: 22px;
  height: 24px;
  color: #1D1D1D;
}
.user img, .user svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.user:hover .user__hidden {
  visibility: visible;
  opacity: 1;
}
.user__alert {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 6px;
  height: 6px;
  background: #F21A27;
  border-radius: 50%;
  display: none;
}
.user__hidden {
  visibility: hidden;
  opacity: 0;
  width: 373px;
  position: absolute;
  transition: 0.2s;
  top: 0%;
  left: -83px;
  padding-top: 54px;
}
.user .hidden__body {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
  border: 1px solid #F5F5F6;
  opacity: 1;
  background: white;
  position: relative;
  padding: 14px 12px 16px;
}
.user .hidden__body::after {
  content: "";
  position: absolute;
  top: -16px;
  left: 83px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 22px;
  height: 16px;
  background-color: white;
}
.user .hidden__body .body__userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.user .userinfo__icon {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1019607843);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 12px;
}
.user .body__email {
  color: #9D9D9D;
  font-size: 14px;
}
.user .name__text {
  font-weight: bold;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 10px;
}
.user .name__edit {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 4px;
  transform: translate(-4px);
  transform: translate(-4px, -6px);
}
.user .name__edit img, .user .name__edit svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.user .list__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.user .list__item.alert .link__alert {
  display: block;
}
.user .list__mailing .item__link {
  margin-right: 15px;
}
.user .item__link {
  display: inline-flex;
  align-items: center;
  color: #1D1D1D;
  position: relative;
}
.user .link__icon {
  width: 30px;
  height: 25px;
  margin-right: 10px;
}
.user .link__alert {
  position: absolute;
  top: 3px;
  right: -10px;
  width: 6px;
  height: 6px;
  background: #F21A27;
  border-radius: 50%;
  display: none;
}
.user .mailing__button {
  width: 20px;
  height: 20px;
}
.user .mailing__counter {
  margin-left: auto;
  margin-right: 11px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .user {
    font-size: 14px;
  }
  .user .userinfo__icon {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1019607843);
    border-radius: 6px;
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  .user .body__email {
    font-size: 12px;
  }
  .user .hidden__body .body__userinfo {
    margin-bottom: 11px;
  }
  .user__hidden {
    padding-top: 44px;
  }
  .user .name__text {
    margin-right: 16px;
    margin-bottom: 10px;
  }
  .user .name__edit {
    cursor: pointer;
    width: 21px;
    height: 21px;
    padding: 3.5px;
    transform: translate(-3.5px);
    transform: translate(-4px, -6px);
  }
  .user .name__edit img, .user .name__edit svg {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .user .list__item {
    margin-bottom: 13px;
  }
  .user .link__icon {
    width: 27px;
    height: 22px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .user {
    font-size: 12px;
  }
  .user .userinfo__icon {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1019607843);
    border-radius: 6px;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .user .hidden__body {
    padding: 10px 12px 10px;
  }
  .user .hidden__body .body__userinfo {
    margin-bottom: 9px;
  }
  .user__hidden {
    padding-top: 44px;
  }
  .user .body__email {
    font-size: 10px;
  }
  .user .name__text {
    margin-right: 16px;
    margin-bottom: 10px;
  }
  .user .name__edit {
    cursor: pointer;
    width: 21px;
    height: 21px;
    padding: 3.5px;
    transform: translate(-3.5px);
    transform: translate(-4px, -6px);
  }
  .user .name__edit img, .user .name__edit svg {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .user .list__item {
    margin-bottom: 7px;
  }
  .user .link__icon {
    width: 25px;
    height: 20px;
    margin-right: 10px;
  }
}

.user.alert .user__alert {
  display: block;
}

.notification {
  width: 24px;
  height: 24px;
  color: #1D1D1D;
  position: relative;
}
.notification img, .notification svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.notification__hidden {
  position: absolute;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  width: 360px;
  top: 0%;
  left: -118px;
  padding-top: 56px;
}
.notification .hidden__body {
  border-radius: 18px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
  padding: 0px 16px;
}
.notification .hidden__body::after {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
  content: "";
  position: absolute;
  top: -16px;
  left: 118px;
  -webkit-clip-path: polygon(50% 60%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 60%, 0% 100%, 100% 100%);
  width: 22px;
  height: 16px;
}
.notification .body__message {
  padding: 12px 0;
  border-bottom: 1px solid #E1E1E1;
}
.notification .body__link {
  display: block;
  color: #E2000F;
  padding: 12px 0;
  text-align: center;
}
.notification .message__title {
  font-weight: bold;
  margin-bottom: 10px;
}
.notification .message__text {
  margin-bottom: 10px;
  line-height: 1.5;
}
.notification .message__data {
  color: #A1A1A1;
  font-size: 12px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .notification {
    font-size: 14px;
  }
  .notification__hidden {
    padding-top: 46px;
  }
  .notification .hidden__body {
    padding: 0px 16px;
  }
  .notification .body__message {
    padding: 10px 0;
  }
  .notification .message__title {
    margin-bottom: 8px;
  }
  .notification .message__text {
    margin-bottom: 8px;
  }
  .notification .message__data {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .notification {
    font-size: 13px;
  }
  .notification__hidden {
    padding-top: 46px;
  }
  .notification .hidden__body {
    padding: 0px 16px;
  }
  .notification .body__message {
    padding: 10px 0;
  }
  .notification .message__title {
    margin-bottom: 6px;
  }
  .notification .message__text {
    margin-bottom: 6px;
  }
  .notification .message__data {
    font-size: 9px;
  }
}

.notification.active .notification__hidden {
  visibility: visible;
  opacity: 1;
}

.easy-info-page {
  padding-top: 30px;
  margin-bottom: 100px;
}
.easy-info-page__title {
  margin-bottom: 30px;
  text-align: center;
}
.easy-info-page__text {
  line-height: 1.5;
  white-space: pre-line;
  margin-bottom: 30px;
}
.easy-info-page__img {
  height: 450px;
}
.easy-info-page__img img, .easy-info-page__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.easy-info-page__link {
  text-decoration: underline;
}
.easy-info-page__link:hover {
  text-decoration: underline;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .easy-info-page__title {
    margin-bottom: 25px;
  }
  .easy-info-page__text {
    margin-bottom: 25px;
  }
  .easy-info-page__img {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .easy-info-page__title {
    margin-bottom: 20px;
  }
  .easy-info-page__text {
    margin-bottom: 20px;
  }
  .easy-info-page__img {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .easy-info-page {
    padding-top: 16px;
    margin-bottom: 50px;
  }
  .easy-info-page__title {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .easy-info-page__text {
    margin-bottom: 20px;
  }
  .easy-info-page__img {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .easy-info-page__img {
    height: 250px;
  }
}
.about {
  padding-top: 30px;
  margin-bottom: 100px;
}
.about__title {
  text-align: center;
  margin-bottom: 30px;
}
.about .body__item {
  display: flex;
  align-items: center;
  margin: 0 -16px 80px;
}
.about .body__item:nth-child(even) .item__text {
  order: 2;
}
.about .body__item:nth-child(even) .item__img {
  order: 1;
}
.about .body__item:last-child {
  margin-bottom: 0;
}
.about .item__text {
  padding: 0 16px;
  line-height: 1.5;
  flex: 0 1 50%;
}
.about .item__img {
  padding: 0 16px;
  flex: 0 1 50%;
}
.about .item__img img, .about .item__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .text__p {
  white-space: pre-line;
}
.about .text__p_bold {
  margin-bottom: 15px;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about .item__img {
    height: 384px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about .body__item {
    margin: 0 -10px 80px;
  }
  .about .item__text {
    padding: 0 10px;
  }
  .about .item__img {
    padding: 0 10px;
    height: 284px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-bottom: 50px;
    padding-top: 24px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about .body__item {
    flex-direction: column;
    margin: 0 0 20px;
  }
  .about .body__item:nth-child(even) .item__text {
    order: 1;
  }
  .about .body__item:nth-child(even) .item__img {
    order: 2;
  }
  .about .body__item:last-child {
    margin-bottom: 0;
  }
  .about .item__text {
    margin-bottom: 20px;
    padding: 0;
  }
  .about .item__text .text__p_bold {
    margin-bottom: 12px;
  }
  .about .item__img {
    padding: 0;
    height: 284px;
  }
}
.compare {
  padding-top: 30px;
  margin-bottom: 100px;
}
.compare__title {
  margin-bottom: 20px;
}
.compare__tabs {
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  margin-bottom: 30px;
}
.compare__select {
  display: none;
}
.compare .tabs__tab {
  padding-bottom: 17px;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
}
.compare .tabs__tab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #2463BF;
  display: none;
}
.compare .tabs__tab:last-child {
  margin-right: 0;
}
.compare .tabs__tab.active {
  font-weight: bold;
  color: #2463BF;
}
.compare .tabs__tab.active::after {
  display: block;
}
.compare__items {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  max-width: 1600px;
  max-width: 100%;
}
.compare .items__item {
  flex: 0 0 376px;
  margin-right: 32px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1019607843);
}
.compare .items__item:last-child {
  margin-right: 0;
}
.compare .items__item:active {
  box-shadow: none;
  border: 1px solid #E1E1E1;
}
.compare .item__product {
  position: relative;
  padding: 20px 20px 30px;
}
.compare .product__close {
  display: block;
  background: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.compare .product__close img, .compare .product__close svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.compare .product__img {
  width: 240px;
  height: 240px;
  margin-bottom: 20px;
}
.compare .product__img img, .compare .product__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.compare .product__model {
  margin-bottom: 14px;
  font-weight: bold;
}
.compare .product__price {
  margin-bottom: 20px;
  font-weight: bold;
}
.compare .product__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.compare .product__buttons .buttons__buy {
  display: flex;
  padding: 0px 20px;
}
.compare .product__buttons .buttons__buy img {
  width: 21px;
  height: 20px;
  margin-right: 10px;
}
.compare .product__buttons .buttons__like {
  width: 49px;
  height: 49px;
  background: #F5F5F6;
  border-radius: 50%;
}
.compare .product__buttons .buttons__like img {
  width: 28px;
  height: 24px;
}
.compare .product__info {
  padding: 12px 0;
  border-bottom: 1px solid #E1E1E1;
}
.compare .product__info:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.compare .info__param-q {
  margin-bottom: 10px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .compare {
    padding-top: 30px;
  }
  .compare__items {
    max-width: 100%;
  }
  .compare .items__item {
    flex: 0 0 340px;
    margin-right: 22px;
  }
  .compare .product__img {
    width: 220px;
    height: 220px;
  }
  .compare .product__model {
    margin-bottom: 10px;
  }
  .compare .product__price {
    margin-bottom: 15px;
  }
  .compare .product__buttons {
    margin-bottom: 10px;
  }
  .compare .product__buttons .buttons__buy {
    padding: 0px 15px;
  }
  .compare .product__buttons .buttons__like {
    flex: 0 0 40px;
    height: 40px;
  }
  .compare .product__buttons .buttons__like img {
    width: 24px;
    height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .compare__title {
    margin-bottom: 20px;
  }
  .compare__tabs {
    margin-bottom: 25px;
  }
  .compare .tabs__tab {
    margin-right: 20px;
  }
  .compare .items__item {
    flex: 0 0 300px;
    margin-right: 15px;
  }
  .compare .item__product {
    padding: 15px 15px 20px;
  }
  .compare .product__img {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
  }
  .compare .product__model {
    margin-bottom: 10px;
  }
  .compare .product__price {
    margin-bottom: 15px;
  }
  .compare .product__buttons {
    margin-bottom: 5px;
  }
  .compare .product__buttons .buttons__buy {
    padding: 0px 10px;
  }
  .compare .product__buttons .buttons__like {
    flex: 0 0 35px;
    height: 35px;
  }
  .compare .product__buttons .buttons__like img {
    width: 19px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .compare {
    line-height: 1.5;
    padding-top: 16px;
    margin-bottom: 50px;
  }
  .compare__title {
    margin-bottom: 16px;
  }
  .compare__select {
    display: block;
    height: 43px;
    border: 1px solid #E1E1E1;
    width: 100%;
    color: #2463BF;
    padding: 0 16px;
    margin-bottom: 20px;
  }
  .compare__select .select__option {
    width: 100%;
    color: #1D1D1D;
  }
  .compare__tabs {
    display: none;
  }
  .compare .items__item {
    flex: 0 0 268px;
    margin-right: 16px;
    box-shadow: 0px 3px 6px rgba(29, 29, 29, 0.1019607843);
  }
  .compare .item__product {
    padding: 16px 14px;
  }
  .compare .product__img {
    width: 162px;
    height: 162px;
    margin-bottom: 10px;
  }
  .compare .product__model {
    margin-bottom: 10px;
  }
  .compare .product__price {
    margin-bottom: 16px;
  }
  .compare .product__buttons {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  .compare .product__buttons .buttons__buy {
    flex: 0 0 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0px 8px 12px rgba(226, 0, 15, 0.2);
    margin-right: 16px;
  }
  .compare .product__buttons .buttons__buy span {
    display: none;
  }
  .compare .product__buttons .buttons__buy img {
    margin-right: 0px;
  }
  .compare .product__buttons .buttons__like {
    flex: 0 0 47px;
    height: 47px;
    background: #F5F5F6;
  }
  .compare .product__buttons .buttons__like img {
    width: 25px;
    height: 22px;
  }
  .compare .product__info {
    padding: 10px 0;
  }
}
.index {
  padding: 50px;
}
.index a {
  color: blue;
  font-size: 25px;
  text-decoration: underline;
}
.index div {
  margin-bottom: 20px;
}