.about {
	padding-top: 30px; //? header
	margin-bottom: 100px; //? footer

	&__title {
		text-align: center;
		margin-bottom: 1.25em;
	}

	&__body {}

	.body__item {
		display: flex;
		align-items: center;
		margin: 0 -16px 80px;

		@include md-d {
			margin: 0 -10px 80px;
		}

		&:nth-child(even) {
			.item__text {order: 2;}
			.item__img {order: 1;}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.item {
		&__text,
		&__img {
			padding: 0 16px;
			flex: 0 1 50%;

			@include md {
				padding: 0 10px;
			}
		}
	
		&__img {
			@include img(cover);

			@include lg-d {
				height: 384px;
			}

			@include md-d {
				height: 284px;
			}
		}
	}

	.text__p {
		white-space: pre-line;
		&_bold {
			margin-bottom: 0.722em;
			font-weight: bold;
		}
	}

	@include sm-d {
		margin-bottom: 50px; //? footer
		padding-top: 24px; //? header
		&__title {
			margin-bottom: 18px;
		}
		.body__item {
			flex-direction: column;
			margin: 0 0 20px;
			&:nth-child(even) {
				.item__text {order: 1;}
				.item__img {order: 2;}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.item {
			&__text {
				margin-bottom: 20px;
				padding: 0;

				.text__p_bold {
					margin-bottom: 10px;
				}
			}
			
			&__img {
				padding: 0;
				height: 284px;
			}
		}
	}
}