.easy-info-page {
	padding-top: 30px; //? header
	margin-bottom: 100px; //? footer
	&__title {
		margin-bottom: 0.917em;
		text-align: center;
		line-height: 1.5;
	}

	
	&__body {
		margin-bottom: 28px;
	}
	
	.body {
		&__text {
			line-height: 1.5;
			margin-bottom: 1.25em;
			&_pre-line {
				white-space: pre-line;
			}
		}

		&__list {
			margin-bottom: 1.25em;
		}
	}

	&__img {
		height: 450px;

		@include img(cover);

		@include lg-d {
			height: 400px;
		}

		@include md-d {
			height: 350px;
		}

		@include sm-d {
			height: 300px;
		}

		@media (max-width: 480px) {
			height: 250px;
		}
	}

	.text__link {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
	}

	.list {
		&__title {}

		&__item {}
	}



	@include sm-d {
		padding-top: 16px; //? header
		margin-bottom: 50px; //? footer
		&__title {
			margin-bottom: 16px;
		}

		&__body {
			margin-bottom: 20px;
		}

		.body {
			&__text {
				margin-bottom: 20px;
			}
		}
	}
}