$red: #F21A27;

//* ------------------------------------------------------------------------------------------------ *//

.main {
	max-width: 1920px;
	margin: auto;
	color: #1D1D1D;
	font-family: Roboto;
}

a {
	color: #1D1D1D;
}

.container {
	max-width: 1700px; //*Фактический размер: 1600px
	padding: 0 50px;
	margin: auto;

	@include lg-d {
		padding: 0 40px;
	}

	@include md-d {
		padding: 0 30px;
	}

	@include sm-d {
		padding: 0 20px;
	}

	@media (max-width: 375px) {
		padding: 0 16px;
	}
}

.h1 {
	font-weight: bold;
	@include adaptiv-font(24, 18);
}

.h2 {
	font-weight: bold;
	line-height: 1.2;

	@include sm-d {
		line-height: 1.5;
	}

	@include adaptiv-font(20, 18);
}

.p {
	@include adaptiv-font(18, 16);
}

.px {
	@include adaptiv-font(16, 14);
}

.pxs {
	font-size: 14px;
}

.h1,
.p,
.px,
.pxs {
	line-height: 1.5;
}