@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
   max-width: 1920px;
   margin: auto;
} 

.container {
   max-width: 1700px; //*Фактический размер: 1600px
   padding: 0 50px;
   margin: auto;
}

.landing {
   color: #1D1D1D;
   line-height: 1.5;
   font-family: Roboto;
   font-size: 18px;
   margin-bottom: 80px;
   padding-top: 30px;

   &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;

      &:first-child {
         margin-bottom: 50px;
      }
      &:last-child {
         margin-bottom: 0;
      }

      &:nth-child(even) {
         .landing__img {
            order: 2;
            margin: 0 0 0 32px;
         }
         .landing__body {
            order: 1;
         }
      }
   }

   &__img {
      flex: 0 1 50%;
      aspect-ratio: 784/550;
      @include img(cover);
      margin: 0 32px 0 0;
   }

   &__body {
      flex: 0 1 50%;
   }

   &__title {
      line-height: 1;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__text {
      white-space: pre-line;
      margin-bottom: 12px;
      max-width: 648px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   &__subtitle {
      font-weight: bold;
      margin-bottom: 20px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__subtitle_first {
      margin-bottom: 30px;
   }
   &__subtitle_mini {
      max-width: 648px;
   }
   
   &__ul {
      max-width: 648px;
   }
   &__ul_margin {
      margin-bottom: 30px;
   }

   &__ul-text {
      margin-bottom: 20px;
   }
   
   &__li {
      position: relative;
      text-indent: 8px;

      &::before {
         content: '';
         position: absolute;
         width: 3px;
         height: 3px;
         top: 12px;
         left: 0;
         background: #1D1D1D;
         border-radius: 50%;
      }
   }

   @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 16px;
      &__title {
         font-size: 22px;
         margin-bottom: 10px;
      }
      &__text {
         margin-bottom: 12px;
      }
      &__subtitle, &__ul-text {
         margin-bottom: 10px;
      }
      &__subtitle_first, &__ul_margin {
         margin-bottom: 20px;
      }
      .container {
         padding: 30px;
      }
      &__li {
         &::before {top: 10px;}
      }
   }

   @media (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
      &__title {
         font-size: 20px;
         margin-bottom: 5px;
      }
      &__text {
         margin-bottom: 7px;
      }
      &__subtitle, &__ul-text {
         margin-bottom: 5px;
      }
      &__subtitle_first, &__ul_margin {
         margin-bottom: 15px;
      }
      .container {
         padding: 20px;
      }
      &__img {
         margin: 0 22px 0 0;
      }
      &__item {
         &:nth-child(even) {
            .landing__img {margin: 0 0 0 22px;}
         }
      }
      &__li {
         &::before {top: 9px;}
      }
   }

   @media (max-width: 767px) {
      font-size: 12px;
      &__title {
         font-size: 18px;
         margin-bottom: 2px;
      }
      &__text {
         margin-bottom: 4px;
      }
      &__subtitle, &__ul-text {
         margin-bottom: 2px;
      }
      &__subtitle_first, &__ul_margin {
         margin-bottom: 12px;
      }
      .container {
         padding: 15px;
      }
      &__img {
         margin: 0 17px 0 0;
      }
      &__item {
         &:nth-child(even) {
            .landing__img {margin: 0 0 0 17px;}
         }
      }
      &__li {
         &::before {top: 7px;}
      }
   }

   @media (max-width: 480px) {
      font-size: 10px;
      &__title {
         font-size: 16px;
         margin-bottom: 0;
      }
      &__text {
         margin-bottom: 2px;
      }
      &__subtitle, &__ul-text {
         margin-bottom: 0px;
      }
      &__subtitle_first, &__ul_margin {
         margin-bottom: 5px;
      }
      .container {
         padding: 10px;
      }
      &__img {
         margin: 0 10px 0 0;
      }
      &__item {
         &:nth-child(even) {
            .landing__img {margin: 0 0 0 10px;}
         }
      }
      &__li {
         &::before {top: 6px;}
      }
   }

   @media (max-width: 375px) {
      line-height: 1.5;
      font-size: 16px;
      padding-top: 16px;
      margin-bottom: 50px;

      .container {
         padding: 0 16px;
      }

      &__item {
         flex-direction: column;
         margin-bottom: 40px;
         &:first-child {
            margin-bottom: 40px;
         }
         &:nth-child(even) {
            .landing__img {
               margin: 0;
            }
         }
         &:nth-child(odd) {
            .landing__img {
               margin: 0 0 20px 0;
            }
         }
      }

      &__title {
         text-align: center;
         font-size: 18px;
         margin-bottom: 20px;
      }

      &__text {
         margin-bottom: 12px;
         &:last-child {
            margin-bottom: 0;
         }
      }

      &__subtitle {
         margin-bottom: 16px;
      }

      &__ul {
         margin-bottom: 20px;
      }

      &__ul-text {
         margin-bottom: 30px;
      }

      &__ul_mobile-last {
         margin-bottom: 0;
      }

      &__li {
         &::before {top: 10px;}
      }
   }
}

.partnership {
   font-family: Roboto;
   background: #EEEEEE;
   padding: 123px 0 77px 0;
   color: #1D1D1D;
   
   &__body {
      text-align: center;
   }

   &__title {
      line-height: 1.5;
      font-size: 24px;
      font-weight: bold;
      max-width: 920px;
      margin: 0 auto 20px;
   }

   &__text {
      font-size: 18px;
      margin-bottom: 30px;
   }

   &__link {
      margin: auto;
      font-size: 16px;
      color: white;
      background: #E2000F;
      width: 263px;
      height: 49px;
      @extend %displayFlex;
      transition: 0.3s;
      
      &:hover {
         box-shadow: 0px 10px 16px #E2000F33;
      }
   }

   @media (min-width: 992px) and (max-width: 1199px) {
      padding: 103px 0 57px 0;
      &__title {
         font-size: 22px;
         margin-bottom: 15px;
      }
      &__text {
         font-size: 16px;
         margin-bottom: 25px;
      }
      &__link {
         font-size: 14px;
         width: 243px;
         height: 44px;
      }
   }

   @media (min-width: 768px) and (max-width: 991px) {
      padding: 83px 0 37px 0;
      &__title {
         font-size: 20px;
         margin-bottom: 10px;
      }
      &__text {
         font-size: 12px;
         margin-bottom: 20px;
      }
      &__link {
         font-size: 12px;
         width: 233px;
         height: 39px;
      }
   }

   @media (max-width: 767px) {
      padding: 63px 0 17px 0;
      &__title {
         font-size: 16px;
         margin-bottom: 5px;
      }
      &__text {
         font-size: 10px;
         margin-bottom: 15px;
      }
      &__link {
         font-size: 10px;
         width: 183px;
         height: 29px;
      }
   }

   @media (max-width: 480px) {
      padding: 33px 0 17px 0;
      &__title {
         font-size: 14px;
         margin-bottom: 5px;
      }
   }

   @media (max-width: 375px) {
      padding: 50px 0;
      margin-bottom: 50px;
      
      &__link {
         width: 100%;
         font-size: 14px;
         height: 47px;
      }

      .container {
         padding: 0 16px;
      }

      &__title {
         text-align: left;
         font-size: 16px;
         margin-bottom: 16px;
      }

      &__text {
         text-align: left;
         font-size: 16px;
         margin-bottom: 30px;
      }
   }
}