.landing {
	color: #1D1D1D;
	font-family: Roboto;
	margin-bottom: 80px; //? footer
	padding-top: 30px; //? header

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 100px;

		&:first-child {
			margin-bottom: 50px;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			.item__img {
				order: 2;
				margin: 0 0 0 32px;
			}
			.item__body {
				order: 1;
			}
		}
	}
	
	.item {
		&__img {
			flex: 0 1 50%;
			aspect-ratio: 784/550;
			@include img(cover);
			margin: 0 32px 0 0;
		}
	
		&__body {
			flex: 0 1 50%;
			max-width: 648px;
		}
		
	}

	.body {
		&__title {
			margin-bottom: 0.583em;
		}
	
		&__text {
			margin-bottom: 0.444em;
			white-space: pre-line;
			&:last-child {
				margin-bottom: 0;
			}
		}
	
		&__subtitle {
			font-weight: bold;
			margin-bottom: 0.889em;

			&:last-child {
				margin-bottom: 0;
			}
	
			&_first {
				margin-bottom: 1.333em;
			}
		}
	
		&__list {
			max-width: 648px;
			&_margin {
				margin-bottom: 1.444em;
			}
		}
	}

	.list {
		&__text {
			margin-bottom: 1em;
		}
	}


	@include md-d {
		&__item {
			&:nth-child(even) {
				.item__img {margin: 0 0 0 22px;}
			}
			&:nth-child(odd) {
				.item__img {margin: 0 22px 0 0}
			}
		}
	}

	@include sm-d {
		padding-top: 16px; //? header
		margin-bottom: 50px; //? footer
		
		&__item {
			flex-direction: column;
			align-items: baseline;
			justify-content: baseline;
			margin-bottom: 40px;
			&:nth-child(even) {
				.item__img {
					margin: 0;
				}
			}
			&:nth-child(odd) {
				.item__img {
					margin: 0 0 20px 0;
				}
			}
		}
		
		.container {
			padding: 0 16px;
		}

		.body {
			&__title {
				text-align: center;
				margin-bottom: 14px;
			}
	
			&__text {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
	
			&__subtitle {
				margin-bottom: 12px;
			}
	
			&__list {
				margin-bottom: 16px;
				&_mobile-last {
					margin-bottom: 0;
				}
			}
		}
		
		.list {
			&__text {
				margin-bottom: 20px;
			}
		}
	}
}

.partnership {
	font-family: Roboto;
	background: #EEEEEE;
	padding: 123px 0 77px 0;
	color: #1D1D1D;
	
	&__body {
		text-align: center;
	}

	.body {
		&__title {
			font-weight: bold;
			max-width: 920px;
			margin: 0 auto 0.75em;
		}
	
		&__text {
			margin-bottom: 1.667em;
		}
	
		&__link {
			padding: 0.875em 2.5em;
		}
	}

	@include lg-d {
		padding: 103px 0 57px 0;
	}

	@include md-d {
		padding: 83px 0 37px 0;
	}


	@include sm-d {
		padding: 50px 0;
		margin-bottom: 50px;

		.body {
			&__link {
				width: 100%;
				padding: 14px 0;
			}
	
			
			&__title {
				text-align: left;
				margin-bottom: 14px;
			}
			
			&__text {
				text-align: left;
				margin-bottom: 28px;
			}
		}
	}
}
