.marketing {
	padding-top: 30px; //? header
	margin-bottom: 100px; //? footer

	.container {
		max-width: 1156px; //1056
	}

	&__title {
		font-weight: bold;
		margin-bottom: 0.75em;
	}


	&__info {
		font-weight: bold;
		margin-bottom: 1.625em;
	}

	&__list {
		margin-bottom: 1.625em;
	}

	&__button {
		padding: 0.875em 2.5em;
		margin-bottom: 1.625em;
	}

	&__number-list {
		list-style-position: inside;

		.list__item {
			&::marker {
				font-weight: bold;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
	}

	
	.info {
		&__text {
			margin-bottom: 0.75em;
		}
	}

	.text {
		&__regular {
			font-weight: normal;
		}
	}

	.list {
		&__title {
			margin-bottom: 0.6em;
			font-weight: bold;
		}
	
		&__item {
		}
	}

	.link {
		
		&__text {
			color: #1D1D1D;
			font-weight: bold;
			margin-right: 1em;
		}
	
		&__icon {
			display: block;
			width: 24px;
			height: 24px;
			@include img(contain);
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	@include sm-d {
		margin-bottom: 33px; //? footer
		padding-top: 16px; //? header
		
		&__title {
			margin-bottom: 8px;
		}
		&__info {
			margin-bottom: 16px;
		}
		&__list {
			margin-bottom: 16px;
		}
		&__button {
			padding: 14px 30px;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}
		.list {
			&__title {
				margin-bottom: 8px;
			}
		}
		.link {
			&__text {
				margin-right: 12px;
			}
		}
		.info {
			&__text {
				margin-bottom: 6px;
			}
		}
	}
}