.messages-body {

   .message-1, .message-2 {
      display: flex;
      margin-bottom: 25px;
      padding: 0 20px;
   
      .message__avatar {
         flex: 0 0 40px;
         height: 40px;
         @include img(cover);
         border-radius: 50%;
         margin-right: 16px;
      }
   
      .message__body {
         max-width: 520px;
         padding: 12px 14px;
   
         .body__text {
            line-height: 1.5;
         }
   
         .body__date {
            
            margin-top: 6px;
            opacity: 0.5;
            text-align: right;
   
            display: flex;
            justify-content: flex-end;
   
            .date__checker {
               margin-left: 10px;
            }
         }
      }
   
      .message__more {
         width: 25px;
         height: 25px;
         align-self: center;
         cursor: pointer;
         position: relative;
   
         .more__point {
            width: 4px;
            height: 4px;
            position: relative;
            background: #A1A1A1;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
   
            &::before, &::after {
               position: absolute;
               content: '';
               width: 100%;
               height: 100%;
               border-radius: inherit;
               background: inherit;
               left: 0;
               top: 0;
            }
            &::before {
               left: -8px;
            }
            &::after {
               left: 8px;
            }
         }
   
         .more__list {
            opacity: 0;
            visibility: hidden;
            cursor: auto;
            padding: 6px 0px;
            position: absolute;
            z-index: 10;
            top: 25px;
            left: -10px;
            background: #FFFFFF;
            box-shadow: 0px 3px 6px #0000001A;
            border: 1px solid #F8F8F8;
            border-radius: 8px;
            transition: 0.2s;
            width: max-content;
            &::after {
               content: '';
               position: absolute;
               width: 20px;
               height: 20px;
               clip-path: polygon(50.00% 75.00%,0.00% 100.00%,100.00% 100.00%);
               background: #FFFFFF;
               top: -20px;
               left: 12px;
            }
         }
   
         .list__item {
            cursor: pointer;
            padding: 6px 12px;
         }
   
         &:hover {
            .more__list {
               opacity: 1;
               visibility: visible;
            }
         }
      }
   }
   
   .message-1 {
      align-self: flex-end;
      .message__body {
         background: #E8EFF9;
         border-radius: 10px 0px 10px 10px;
         margin-left: 15px;
      }
   }
   
   .message-2 {
      .message__body {
         background: #F5F5F6;
         border-radius: 0px 10px 10px 10px;
         margin-right: 15px;
      }
   }

   .message__date {
      color: #A1A1A1;
      position: relative;
      text-align: center;
      margin-bottom: 25px;
      
      span {
         display: inline-block;
         padding: 0 16px;
         background: white;
      }
      
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 1px;
         background: #E1E1E1;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: -10;
      }
   }
}