.modalContentCard {
	.modal-content__buttons {
		justify-content: right;
	}
}

//!! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Part 2 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
.modalContentLetter {

	.modal-content__button-container {
		text-align: left;
	}

	.modal-content__textarea {
		height: 140px;
	}

	&__header {
		background: #F8F8F8;
		padding: 8px 0;

		margin-bottom: 20px;
	}

	.header__title {
		font-weight: bold;
	}

	&__user {
		display: grid;
		grid-template-columns: 60px 1fr;
		column-gap: 13px;
		align-items: center;
		margin-bottom: 20px;
	}

	.user {
		&__avatar {
			@include img(cover);
			aspect-ratio: 1/1;
			grid-row: 1/3;

			box-shadow: 0px 6px 10px #0000001A;
		}

		&__name {}

		&__info {
			color: #989898;

			@include adaptiv-font(14, 12);

			line-height: 1.5;
		}
	}

	@include sm-d {
		&__header {
			margin-bottom: 16px;
		}

		&__user {
			margin-bottom: 26px;
		}
	}
}

.modalContentQR {
	&__code {
		margin: auto;
		//height: 258px;
		width: 258px;

		margin-bottom: 40px;

		@include img(contain);

		@include sm-d {
			width: 192px;
			margin-bottom: 30px;
		}
	}
}

//!! ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Part 3 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓

.modalLoading {
	@include img(cover);


	&__img {
		max-width: 418px;
		aspect-ratio: 418/575;
		margin: auto;

		@include sm-d {
			max-width: 281px;
			height: auto;
			aspect-ratio: 281/386;
		}
	}

}