.resumeContent {

	&__title {
		margin-bottom: 1.083em;
	}

	&__resume {
		display: flex;
		margin-bottom: 30px;
	}
	.resume {
		&__img {
			@include img(cover);
			flex: 0 0 83px;
			height: 103px;
			margin-right: 23px;
		}
	
		&__info {}
	}

	.info {
		&__name {
			margin-bottom: 6px;
		}
	
		&__date {}
	}

	&__buttons {
		display: flex;

		.buttons__button {
			padding: 14px 40px;

			&:first-child {
				margin-right: 30px;
			}
		}
	}
	
	@include sm-d {
		.resume__img {
			margin-right: 15px;
		}

		.buttons__button {
			flex: 0 1 50%;
		}
	}
}