// стили для index.html
.index {
	padding: 50px;
	a {
		color: blue;
		font-size: 25px;
		text-decoration: underline;
	}
	div {
		margin-bottom: 20px;
	}
}
.tbuy-contact {
	flex: 1 1 auto;
	height: 860px;
	height: clamp(600px, 100vh - 110px, 860px); //110px это header + отступ от него
	display: flex;
	box-shadow: 0px 6px 18px #00000029;
	display: flex;
	flex-direction: column;
	
	&__header {
		flex: 0 0 90px;
		padding: 0 20px;
		display: flex;
		align-items: center;
		background: #F9FAFB;
		border-bottom: 1px solid #E1E1E1;
		border-radius: 20px 20px 0px 0px;
	}

	&__form {
		border-top: 1px solid #E1E1E1;
		flex: 0 0 78px;
	}
		
	.header {
		&__avatar {
			flex: 0 0 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			@include img(cover);
			margin-right: 20px;
		}

		&__name {
			flex: 1 1 auto;
			font-size: 30px;
			font-weight: bold;
			margin-right: 10px;
		}
	}


	@include lg-d {
		&__header {
			padding: 0 15px; // 0 20px
			flex: 0 0 80px; // 90px
		}
	
		.header {
			&__name {
				font-size: 27px; // 30px
			}
		}
	}

	@include md-d {
		&__header {
			padding: 0 15px; // 0 20px
			flex: 0 0 76px; // 90px
		}
	
		.header {
			&__name {
				font-size: 23px; // 30px
			}
		}
	}

	@include sm-d {
		box-shadow: none;
		padding-top: 16px;
		border-top: 1px solid #E1E1E1;
		width: 100%;

		height: max(100vh - 60px - 8px - 55px, 500px);

		&__header {
			border-radius: 0;
		}

		.header__name {
			font-size: 16px;
		}

		.header__avatar {
			flex: 0 0 40px;
			height: 40px;
			margin-right: 13px;
		}
	}
}

.form__enter-message {
	height: 100%;
	@extend %displayFlex;
	padding: 0 30px;
}

.enter-message {
	&__write {
		background: #F4F6F8;
		flex: 1 1 auto;
		height: 50px;
		padding: 0 20px;
		margin-right: 20px;

		&::placeholder {
			color: #A1A1A1;
		}
	}

	&__send {
		@extend %displayFlex;
		height: 50px;
		width: 50px;
		background: #2463BF;
		border-radius: 50%;
		box-shadow: 0px 10px 16px #0177C133;
		img {
			width: 20px;
			height: 20px;		
		}
	}
}

