$index-1: 1; // Для наползающих элементов в общем потоке
$index-2: 2; // Для наползающих элементов в общем потоке
$index-3: 3; // Для масок
$index-4: 4; // Для сайдбаров
$index-5: 5; // Для модалок
$index-6: 6; // Для элементов, перекрывающих все

$grayF5: #F5F5F6;
$grayE1: #E1E1E1;
$gray9D: #9D9D9D;
$red: #E2000F;
$redError: #D1111D;
$blue: #2463BF;
$black: #1D1D1D;